name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: |
          VERSION=v1.0.0
          SHA=$(git rev-parse --short=7 HEAD)
          echo "TAG=${VERSION}-${SHA}-linux-amd64" >> $GITHUB_ENV

      - name: Build and push image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t ghcr.io/iamfittz/telegram-bot:${{ env.TAG }} \
            --push .
